:root{
/* CSS HEX */
--pigment-green: #009944ff;
--antiflash-white: #EEEEEEff;
--red-cmyk: #E60112ff;
--wheat: #FEE5BFff;
--jasper: #D35F49ff;
--blood-red: #690000ff;

/* SCSS HEX */
$pigment-green: #009944ff;
$antiflash-white: #EEEEEEff;
$red-cmyk: #E60112ff;
$wheat: #FEE5BFff;
$jasper: #D35F49ff;
$blood-red: #690000ff;
}

